@charset "UTF-8";
/* CSS Document */

body {
	background-color:#FFF;
	margin:auto 0;
}

a {color:#fff;
text-decoration: none;} 

a:hover{color:#666;
text-decoration: underline;}


#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 40px;
	text-align: center;
	padding-top: 5px;
	background-color: #d71920;
	 z-index: 999999999;
	
}

#navigation div {float:left;
	width:30%;}
	
	
#wrapper {   	width: 1024px;
		height: 800px;
		/*background-image:url(../img/demo_banner.png);*/
		position:relative;
		border:dotted 1px #666666;
		float:none;
		margin-top:30px;
		margin: 0 auto;
		padding-top:30px;}

header 
{width: 100%;
clear:both;}

footer {width:100%}

.content {
	float:left;}
	
.content div {
	padding: 20px; margin:10px;
 }
 
.content ul li { width:100%; 
padding:5px;
margin:5px;
list-style:none;
}


	
.span1 { width:100px;}

.span2	{ width:200px;}

.span3	{ width:300px;}

.span4	{ width:400px;}

.span5	{ width:500px;}

.span10	{ width:1000px;}


.offset3 
{margin-left:500px;}


		
	
	
	h1 {font-size:24px;}
		
	h2 { font-size:18px;}
	
	h3 {font-size: 16px;}
	
	h4 {font-size:14px;
	text-transform: uppercase;}
	
	h5 {font-size:13px;
		color: #d71920;
		padding-top:20px;}
	
	p { font-size:12px;}
	
	

.logo { float:left;
	height: 120px;}

.bannertopright { float:right;
	width: 675px;
	height:90;
	vertical-align:middle;
}

/*.bannerbottom{
	width:675px;
	height:50px;
}*/

nav { 	
	padding-top:20px;
	height:40px;		
}

.clear
{clear:both}

.pull-right 
	{float:right;}
	
.pull-left
	{float:left;}
	
	hr { padding:20px;
	        border: 0;
	        border-bottom: 0px;
	        border-top: 1px dotted #cccccc;
}
	
#bottombanner {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #ffffff;
	/*height: 50px;*/
	padding-left:15%;
	padding-bottom: 0px;
	background-color: #CCC;
	 z-index: 9999999;
	
}

  .no-padding div {padding:0 !important; margin:0 !important;}