<!DOCTYPE html>
<!--

  Coda Slider 3.0
  Kevin Batdorf

  http://kevinbatdorf.github.com/codaslider

-->
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Codaslider : JQuery Slider Plugin" />

    <!-- 
      Here is the style sheet for the Coda Slider
      You may want to "minify" this after making edits
      http://www.refresh-sf.com/yui/ 
    -->
  

    <!-- This is just styling for the demo to make it a little less crowded at the top -->
    <style>h1{margin:100px;}</style>
    <link href="../css/coda-slider.css" rel="stylesheet" type="text/css">

   
    <!-- Coda Slider relies on jQuery and easing effects-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../js/jquery.easing.1.3.js"></script>

    <!-- This of course is required. The full version (not .min) is also included in the js directory -->
    <script src="../js/jquery.coda-slider-3.0.min.js"></script>

    <title>SLIDER</title>

    <script>
    $(function(){

      /* Here is the slider using default settings */
      $('#slider-id').codaSlider();
      /* If you want to adjust the settings, you set an option
         as follows:

          $('#slider-id').codaSlider({
            autoSlide:true,
            autoHeight:false
          });
      
      */
    });

    </script> 
  </head>
  <body>


  <div class="coda-slider"  id="slider-id">
      <div>
        <p><img src="../slider_images/background/background_access.png"></p>
      </div>
      <div>
        
        <p><img src="../slider_images/background/background_attract.png"></p>
      </div>
      <div>
        
        <p><img src="../slider_images/background/background_engage.png"></p>
      </div>
      <div>
        
        <p><img src="../slider_images/background/background_achieve.png"></p>
      </div>
      <div>
       
        <p><img src="../slider_images/background/background_save.png"></p>
      </div>
      
  </div>

  </body>
</html>
